@model YourHouse.Models.ChangePassword
@{
}

<div class="row">
    <form class="col" action="/Account/ChangePassword" method="post" >
        <input asp-for="Id" type="hidden" value="@ViewBag.IdUser" />
        <div class="mt-3">
            <label asp-for="PastPass">Mật khẩu cũ</label>
            <div class="input-group">
                <input asp-for="PastPass" type="password" class="form-control" />
                <button class="input-group-text btn btn-primary" type="button" onclick="showPass('PastPass', this)">Hide</button>
            </div>
            <span asp-validation-for="PastPass" class="text-danger small"></span>
        </div>
        <div class="mt-3">
            <label asp-for="NewPass">Mật khẩu mới</label>
            <div class="input-group">
                <input asp-for="NewPass" type="password" class="form-control" />
                <button class="input-group-text btn btn-primary" type="button" onclick="showPass('NewPass', this)">Hide</button>
            </div>
            <span asp-validation-for="NewPass" class="text-danger small"></span>
        </div>
        <div class="mt-3">
            <label asp-for="ConfirmNewPassword">Nhập lại mật khẩu mới</label>
            <div class="input-group">
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <button class="input-group-text btn btn-primary" type="button" onclick="showPass('ConfirmNewPassword', this)">Hide</button>
            </div>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger small"></span>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Đổi</button>
    </form>
</div>


<script>
    
    function showPass(id, btn) {
        let inputId = document.querySelector(`#${id}`);
        
        if(inputId.type == 'text') {
            inputId.type = "password";
            btn.innerText = 'Hide'
        }
        else{
            inputId.type = "text";
            btn.innerText = 'Show'
        }
    }
</script>

