@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 600px !important;
                    object-fit: cover;
                    object-position: center;">
                    <img src="https://bandon.vn/resize/300x200/a-c/zc-1/f/uploads/motels/so-9-day-b5-ngo-7-kim-ma-thuong-12.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" style="height: 600px !important;
                    object-fit: cover;
                    object-position: center;">
                    <img src="https://img.thuephongtro.com/images/large/2020/08/11/20200811135929-axfbn.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" style="height: 600px !important;
                    object-fit: cover;
                    object-position: center;">
                    <img src="https://bandon.vn/resize/1000x700/a-c/zc-1/f/uploads/posts/cho-thue-phong-tro-chung-cu-mini-1.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

